*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: monospace;
    background-color: #e2eaff;
    color: #101632dd
    /* background: rgba(0, 0, 0, 0.5) url('/imagenes/CORREGIDO_page-0001.jpg') no-repeat ;
    background-size: cover; */
    
}
span{
    font-size: 25px;
    text-shadow: 0 0 15px #0007;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    position: sticky;
    top: 0;
    animation: desplasar both;
    animation-timeline: scroll();
    animation-range: 10px 100px;
}

@keyframes desplasar {
    from{
        background-color: #fff;
    }

    to{
        padding: 0;
        background-color: #0008;
        color: #fff;
    }
    
}

@keyframes desplasar2 {
    from{
        color:fff
    }

    to{
        color: #fff;
    }
    
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    white-space: nowrap; /* Prevenir el desbordamiento del texto */
    animation: desplasar2 both;
    animation-timeline: scroll();
    animation-range: 10px 100px;
}

.nav-links a.active {
    color: #ff2e2e;
}

.nav-links a:hover {
    background-color: #4d6a6f;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Estilos adaptables */
@media (max-width: 820px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 15px 0; /* Añadir margen de 15px entre opciones */
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
/* INICIO DE ESTILOS DE LA PRECENTACION */
.box{
    box-sizing: border-box;
    max-width: 70%;
    /* height: 700px; */
    margin: auto;
    /* background-color:#0f8; */
    /* background: url("/imagenes/imagen\ principal.jpeg") ; */
    background-size:cover;
    background-position:top;
    background-attachment:fixed;
    border-radius: 7px;

}
.box b{
    text-transform: uppercase;
}
.box2{
    height: 100%;
    width: 100%;
    /* background-color: #0007; */
    background-color: #beda;
    border-radius: 15px;
}
H2{
    padding: 50PX;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
p{
    text-align: center;
    margin: 30px 20px ;
    /* letter-spacing: 1.5px; */
    color: #0a0909;
    font-weight: bolder;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0;
}
/* FIN DE ESTILOS DE LA PRECENTACION */
/* inicio del foter */
footer{
    background-color: #6e6e6e;
    text-align: center;
    font-size: 20px;
}

footer p{
    color: #fff;
    width: 70vw;
    text-align: center;
    margin: auto;
}

img{
    width: 50px;

}


  /* fin del footer */
